.nav-tabs {
  border-bottom: 2px solid $color-navbar;

  > li {
    position: relative;
    top: 3px;
    // left: -2px;

    > a {
      position: relative;
      color: $color-dark-grey;
      display: block;
      padding: 1.2rem;
      letter-spacing: 1px;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom: 4px solid $color-icons;
        bottom: 0;
        @include transform(scaleX(0));
        @include transition(0.1s ease-in);
      }

      &.active {
        color: $color-white;

        &:before {
          @include transform(scaleX(1));
        }
      }
    }
  }
}
