$color-background: #273848;
$color-navbar: #2f3f4e;
$color-card: #324554;
$color-icons: #21cbff;
$color-navitems: #b8c6cb;
$color-white: #cad5da;
$color-red: #ff5757;
$color-grey: #c3ced4;
$color-grey-2: #b1b8bc;
$color-dark-grey: #899397;
$color-separator: #455a64;

$leftsidebar-collapsed: 6rem;
$leftsidebar-expanded: 22rem;

$rightsidebar-collapsed: 0px;
$rightsidebar-expanded: 30rem;

$topbar-height: 6rem;

$xs: 0;
$sm: 34.375em; //550px
$md: 46.875em; //750px
$lg: 59.375em; //950px
$xl: 78.0625em; //1249px
$xxl: 87.5em; //1400px

$xs-sm: 28.125em; //450px
$xs-sm-1: 25em; //400px
$md-lg: 53.125em; //850px
